
* {
    /* font-family: 'Times New Roman */
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    
}

:root {
    --primary: #4460ff;
    --secondary: #76bfca;
    --tertiary: rgb(189, 216, 201);
    --quaternary: #600484;
    /* background-image: url("/urban-waffle/assets/images/ranCode.jpeg"); */
}
#bodyStyle {
    border: 5px solid #600484;
}
body {
    border-bottom: 5px solid blueviolet;
    border-top: 5px solid rgb(166, 165, 167);
    border-right: 5px solid rgb(34, 3, 63);
    border-left: 5px solid rgb(42, 6, 75);
    padding: 25px;
   
}


/* Start of header styling */

#headerStyle {
    
    background-color: var(--secondary);
    background-size: cover;
    border: 2px solid var(--primary);
    border-radius: 5px;

}
/*
header h1{
     /* background-image: url("/urban-waffle/assets/images/ranCode.jpeg"); */
    /* color:rgb(42, 6, 75); 
    border-bottom: 5px solid blueviolet;
    border-top: 5px solid blueviolet;
    border-right: 5px solid rgb(34, 3, 63);
    border-left: 5px solid rgb(42, 6, 75);
} */

/* body header h1 {
    border-bottom: 5px solid blueviolet;
    border-top: 5px solid blueviolet;
    border-right: 5px solid rgb(34, 3, 63);
    border-left: 5px solid rgb(42, 6, 75);
    /* align-content: center; 
} */

/* header nav ul li {
    border-bottom: 1px solid var(--primary);
    display: flex;
    align-content: center;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* align-items: flex-end; 
} */

/* footer {
    border-bottom: 5px solid blueviolet;
    border-top: 5px solid blueviolet;
    border-right: 5px solid rgb(34, 3, 63);
    border-left: 5px solid rgb(42, 6, 75);
} */ 

/* Beginning of instruct classes for table of instructions */
#quizInstruct{
    
    padding: 5px 5px solid var(--tertiary);
    display: flex;
    align-items: flex-end;
}
.instructNum {
    background-color: var(--secondary) ;
    border: 2px solid var(--primary);
    border-radius: 5px;
    
}
.instructText{
    background-color: var(--secondary) ;
    border: 2px solid var(--primary);
    border-radius: 5px;
    
}

/* #submitBtn {
    
} */

/* End of instruct classes for table of instructions */


/* Start of quiz question and answers section */

/* .queststyle {
    
} */



#quizQChoice1 {
    background-color: var(--primary);
    border: 2px solid var(--tertiary);
    border-radius: 5px;
}

#quizQChoice2 {
    background-color: var(--primary);
    border: 2px solid var(--tertiary);
    border-radius: 5px;
}

#quizQChoice3 {
    background-color: var(--primary);
    border: 2px solid var(--tertiary);
    border-radius: 5px;
}

#quizQChoice4 {
    background-color: var(--primary);
    border: 2px solid var(--tertiary);
    border-radius: 5px;
} 

/* end of quizQuestion */

/* Start of quiz-head */

#quiz-footer{
    background-color: var(--tertiary);
    text-align: center;
}

.clickbtn {
    background-color: var(--tertiary);
    padding: 20px;
    border: 1px solid var(--quaternary);
    border-radius: 5px;
    /* commenting out this flex box content below */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    
}
.clickbtn:hover {
    background-color: var(--primary);
    
    /* commenting out this flex box content below */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    
}

/* End of quiz-head */

